.site-header
    display: flex
    justify-content: space-between
    align-items: center
    background: #333333
    color: #ffffff
    padding: 0 10px

.site-nav

    &-links
        list-style: none
        display: flex
    
        a
            color: inherit
            display: inline-block
            margin: 0 10px
